In [2]:
import pandas as pd
df = pd.read_parquet("data/07_metrics/metrics_by_category.parquet")
df

                     category  mae  mse  rmse  mape  baseline_mae
0                  housewares  0.0  0.0   0.0   0.0           0.0
1                   perfumery  0.0  0.0   0.0   0.0           0.0
2                        auto  0.0  0.0   0.0   0.0           0.0
3                    pet_shop  0.0  0.0   0.0   0.0           0.0
4                  stationery  0.0  0.0   0.0   0.0           0.0
..                        ...  ...  ...   ...   ...           ...
66             books_imported  0.0  0.0   0.0   0.0           0.0
67  fashion_childrens_clothes  0.0  0.0   0.0   0.0           0.0
68                      music  0.0  0.0   0.0   0.0           0.0
69      arts_and_craftmanship  0.0  0.0   0.0   0.0           0.0
70      security_and_services  0.0  0.0   0.0   0.0           0.0

[71 rows x 6 columns]